@{
    ViewData["Title"] = "Employees";
}

<div class="container-fluid">
    <h1>Employees Management</h1>
    
    <partial name="_EmployeesTablePartial" />
    <partial name="_CreateEmployeeModalPartial" />
    <partial name="_EditEmployeeModalPartial" />
</div>
