@{
    ViewData["Title"] = "Service Types";
}

<div class="container-fluid">
    <h1>Service Types Management</h1>
    
    <partial name="_ServiceTypesTablePartial" />
    <partial name="_CreateServiceTypeModalPartial" />
</div>
