<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Parts Used</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Part</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
