<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Request #</th>
                <th>Car</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
