@{
    ViewData["Title"] = "Request Details";
}

<div class="container">
    <h1>Service Request Details</h1>
    
    <partial name="_DetailsInfoPartial" />
    <partial name="_DetailsPartsPartial" />
    <partial name="_DetailsNotesPartial" />
</div>
