@{
    ViewData["Title"] = "Service Requests";
}

<div class="container">
    <h1>Service Requests</h1>
    
    <partial name="_FiltersPartial" />
    <partial name="_RequestsTablePartial" />
</div>
