@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container-fluid">
    <h1>Admin Dashboard</h1>
    
    <partial name="_StatsCardsPartial" />
    <partial name="_RecentRequestsPartial" />
</div>
