<h2 class="wizard-title">Стъпка 2: Данни за автомобила</h2>

<div class="form-group">
    <label>VIN</label>
    <input type="text" name="VIN" />
</div>

<div class="form-group">
    <label>LOTA</label>
    <input type="text" name="LOTA" />
</div>

<div class="form-group">
    <label>Регистрационен номер</label>
    <input type="text" name="Plate" />
</div>
