<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/layouts/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="nav-container">

                <a asp-controller="Home" asp-action="Index" class="nav-logo">BIDMOTORS</a>

                <ul class="nav-links m-0">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Начало</a>
                    </li>
                    <li>
                        <a asp-controller="PartsPublic" asp-action="Index">Части</a>
                    </li>
                    <li>
                        <a asp-controller="ServiceRequests" asp-action="Create">Заявка за услуга</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About">За нас</a>
                    <li class="nav-login">
                        <a asp-controller="Account" asp-action="Login">Вход</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <main class="content-wrapper">
        @RenderBody()
    </main>

    <footer class="footer">
        @await Html.PartialAsync("_FooterPartial")  
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>