<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Repair Summary</h5>
        <dl class="row">
            <dt class="col-sm-3">Repair #:</dt>
            <dd class="col-sm-9">-</dd>
            
            <dt class="col-sm-3">Mechanic:</dt>
            <dd class="col-sm-9">-</dd>
            
            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">-</dd>
            
            <dt class="col-sm-3">Total Cost:</dt>
            <dd class="col-sm-9">-</dd>
        </dl>
    </div>
</div>
