<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Repair #</th>
                <th>Car</th>
                <th>Mechanic</th>
                <th>Status</th>
                <th>Total Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
