@{
    ViewData["Title"] = "Repair Details";
}

<div class="container">
    <h1>Repair Details</h1>
    
    <partial name="_RepairSummaryPartial" />
    <partial name="_UsedPartsTablePartial" />
    <partial name="_AddPartModalPartial" />
</div>
