<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Part Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
