@{
    ViewData["Title"] = "Parts Management";
}

<div class="container-fluid">
    <h1>Parts Management</h1>
    
    <partial name="_PartsTablePartial" />
    <partial name="_CreatePartModalPartial" />
    <partial name="_EditPartModalPartial" />
</div>
