@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BidMotors</h1>
    <p>Your trusted auto service center</p>
</div>

<partial name="_ServicesSectionPartial" />
<partial name="_PartsSectionPartial" />
