html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

:root {
    --black: #000000;
    --graphite: #1C1C1E;
    --yellow: #FFC300;
    --red: #D90429;
    --white: #FFFFFF;
}

/* NAVBAR */
.main-nav {
    background-color: var(--black);
    padding: 18px 0;
    position: sticky;
    top: 0;
    height: 20%;
    z-index: 1000;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

/* LOGO */
.nav-logo {
    font-size: 22px;
    font-weight: bold;
    color: var(--yellow);
    text-decoration: none;
    margin-right: 140px;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px 0 0;
    transition: color .25s ease;
}

/* UNDERLINE ANIMATION */
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--yellow);
    transition: width .25s ease-in-out;
}

.nav-links li a:hover {
    color: var(--yellow);
}

.nav-links li a:hover::after {
    width: 100%;
}

/* CONTENT */
.content-wrapper {
    min-height: 70vh;
}

/* FOOTER */
.footer {
    background-color: var(--graphite);
    color: var(--white);
    padding: 30px 0 20px 0;
    border-top: 3px solid var(--yellow);
}

.footer-container {
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 12px;
    color: var(--yellow);
}

.footer-section p,
.footer-section a,
.footer-section ul li {
    font-size: 15px;
    color: var(--white);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 6px;
}

.footer-section a {
    text-decoration: none;
    transition: color .2s ease;
}

.footer-section a:hover {
    color: var(--yellow);
}

/* Bottom footer bar */
.footer-bottom {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
    font-size: 14px;
    opacity: 0.85;
}
